// Colors
$color-primary: #0195f6;
$color-secondary: #00376b;
$color-white: #ffffff;
$color-black: #000000;
$color-whitesmoke: rgb(250, 250, 250);
$color-blacksoft: rgba(0, 0, 0, 0.16);
$color-gray: #dbdbdb;
$color-gray-light: lightgrey;
