body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background-color: rgb(250, 250, 250);
}

p {
    margin: 0;
    line-height: 25px;
}

a {
    color: #00376b;
    text-decoration: none;
    font-weight: bold;
}

.line {
    width: 65%;
    margin: auto;
    border-top: 1px solid #dbdbdb;
}

.navbar {
    width: 100%;
    height: auto;
    padding: 15px 0px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.16);
    position: sticky;
    top: 0px;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: white;
}

.navbar__search {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: #fafafa;
    text-align: center;
}

.navbar__links {
    margin: 0;
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    margin-right: 20px;
}

.navbar__profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    background-size: cover;
}

.hero {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: 30px auto;
}

.hero__profile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
}

.hero__content {
    margin-top: 20px;
}

.hero__title {
    font-size: 28px;
    font-weight: 300;
}

.hero__track {
    display: flex;
    align-items: flex-end;
}

.hero__button {
    min-height: calc(43px - 16px);
    padding: 8px 28px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #0195f6;
}

.hero__triangle {
    min-height: calc(43px - 16px);
    padding: 12px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #0195f6;
}

.hero__triangle div {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid white;
    background-color: #0195f6;
}

.hero__space {
    margin: 15px;
}

.hero__space--top {
    margin-top: 15px;
}

.hero__space--right {
    margin-right: 15px;
}

.hero__space--bottom {
    margin-bottom: 15px;
}

.hero__space--left {
    margin-left: 15px;
}

.grid {
    width: fit-content;
    margin: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-template-rows: 290px;
    grid-auto-columns: 290px;
    grid-auto-rows: 290px;
    grid-gap: 20px;
}

.grid__image {
    width: 290px;
}